<!--
==========================================================
YES FREE ERP
Componente Cliente
frontend/components/cliente.html
==========================================================
-->


<div class="card">


<h2>
Cadastro de Cliente
</h2>



<div class="form-grid">



<div class="form-group">

<label>
Nome Completo
</label>

<input 
id="component_nome_cliente"
type="text">

</div>




<div class="form-group">

<label>
Tipo Pessoa
</label>


<select id="component_tipo_cliente">


<option>
FISICA
</option>


<option>
JURIDICA
</option>


</select>


</div>




<div class="form-group">

<label>
CPF/CNPJ
</label>

<input
id="component_documento_cliente">

</div>




<div class="form-group">

<label>
Telefone
</label>

<input
id="component_telefone_cliente">

</div>




<div class="form-group">

<label>
WhatsApp
</label>

<input
id="component_whatsapp_cliente">

</div>




<div class="form-group">

<label>
E-mail
</label>

<input
id="component_email_cliente">

</div>




<div class="form-group">

<label>
CEP
</label>

<input
id="component_cep_cliente">

</div>




<div class="form-group">

<label>
Cidade
</label>

<input
id="component_cidade_cliente">

</div>




<div class="form-group">

<label>
Estado
</label>

<input
id="component_estado_cliente">

</div>




<div class="form-group">

<label>
Endereço
</label>

<input
id="component_endereco_cliente">

</div>



<div class="form-group">

<label>
Número
</label>

<input
id="component_numero_cliente">

</div>




<div class="form-group">

<label>
Bairro
</label>

<input
id="component_bairro_cliente">

</div>



</div>



<br>



<button

class="btn-success"

onclick="salvarClienteComponente()">

Salvar Cliente

</button>



</div>
