<!--
==========================================================
YES FREE ERP
Componente Tabela Dinâmica
frontend/components/tabela.html
==========================================================
-->


<div class="card">


<h3 id="titulo_tabela">

Dados

</h3>



<div id="filtros_tabela">


<div class="form-grid">


<div class="form-group">


<label>
Pesquisar
</label>


<input

id="pesquisa_tabela"

onkeyup="filtrarTabela()"

placeholder="Digite para pesquisar">


</div>


</div>


</div>



<br>



<table id="tabela_dinamica">


<thead>


<tr id="cabecalho_tabela">


</tr>


</thead>



<tbody id="corpo_tabela">


</tbody>



</table>



</div>
